{extend name="common/base"/}
{block name="content"}
<div class="panel">
    <div class="panel-body" style="background-color:rgba(0,0,0,0);">
        <h3 style="color: #8f5f40">填写注意:</h3>
            <hr/>
        <h4>统计主题：{$yb_zhuti}</h4>
            <hr/>
        <h4>放假时间：{$yb_fangjia_time}</h4>
            <hr/>
        <h4>返校时间：{$yb_fanxiao_time}</h4>
            <hr/>
        <h4>离校返校统计截止时间：{$yb_jiezhi_time}</h4>
            <hr/>
        <h4>放假注意事项：{$yb_write_info}</h4>
            <hr/>
        <h4>填写注意事项：{$yb_fangjia_info}</h4>
            <hr/>
        <!--版权所有-->
        <div class="footer" style="text-align:center;">
            <p style="font-size: 12px">Copyright &copy; 2019.广财大信院易班工作室 All rights reserved.</p>
        </div>
        <!--版权所有-->
    </div>

</div>
{/block}