{extend name="common/base"/}
{block name="content"}
<div class="panel">
    <div class="panel-body">
        <h3 style="color: #8f5f40">已填信息:</h3>
        <hr/>
        <div class="form-three widget-shadow">
            <div data-example-id="form-validation-states-with-icons">
                <!--刷新-->
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><a href="{:url('index/index/shows')}" style="color: black">刷新</a></button>
                    <button type="button" class="btn btn-default"><a href="{:url('index/index/modify')}" style="color: black">修改</a></button>
                </div>
                <hr/>
                <!--刷新-->
                <h4>姓名：{$username}</h4>
                <hr/>
                <h4>年级：{$yb_enteryear}级</h4>
                <hr/>
                <h4>学院：{$yb_collegename}</h4>
                <hr/>
                <h4>班级：{$yb_classname}</h4>
                <hr/>
                <h4>是否离校：{$yb_if_leave}</h4>
                <hr/>
                <h4>离校时间：{$yb_leave_time}</h4>
                <hr/>
                <h4>回校时间：{$yb_return_time}</h4>
                <hr/>
                <h4>离校原因：{$yb_leave_reason}</h4>
                <hr/>
                <h4>联系方式：{$yb_telephone}</h4>
                <hr/>
            </div>
        </div>
        <!--版权所有-->
        <div class="footer" style="text-align:center;">
            <p style="font-size: 12px">Copyright &copy; 2019.广财大信院易班工作室 All rights reserved.</p>
        </div>
        <!--版权所有-->
    </div>
</div>
{/block}
